{% extends 'base.html.twig' %}

{% block title %}Géres les biens
{% endblock %}

{% block body %}


	<div class="container mt-4">

		<h1>Gérer Les Biens</h1>


		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{message}}
			</div>

		{% endfor %}

		<table class="table table-striped">
			<thead>
				<tr>
					<td>Title</td>
					<td>Action
					</td>
				</tr>
			</thead>
			<tbody>
				{% for property in properties %}
					<tr>
						<td>{{property.title}}</td>
						<td>
							<a class="btn btn-secondary" href="{{path ('admin.property.edit' ,{id: property.id})}}">Editer</a>
							<form method="post" action="{{path ('admin.property.delete' ,{id: property.id})}}" style="display:inline-block;" onsubmit="return confirm('Etes vous vraiment sur?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{csrf_token('delete' ~ property.id)}}">
								<button class="btn btn-danger">supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


		<div class="text-right">
			<a href="{{path('admin.property.new')}}" class="btn btn-primary">
				Creér Nouveau Bien</a>
		</div>
	</div>


{% endblock %}
